.Posts{
    padding-top: 20px;
}

.post{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 15px 10px;
    background: #fff;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
}
