@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*, 
*::before, 
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button{
  outline: none;
}

body{
  background-color: #f7f7f7;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.container{
  width: 375px;
  background-color: rgb(204,204,204);
  height: 100vh;
  padding: 20px 15px;
}

.form-control{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control input{
  height: 38px;
  margin-bottom: 15px;
  text-indent: 20px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

.form-control label{
  padding-bottom: 8px;
}

.welcome-text{
  padding: 35px 0;
}
